<h1>Profile</h1>
<form action="/create-profile" enctype="multipart/form-data" method="post">
  <br>
  <h2>Birthdate</h2>
  <label for="day"> Day
    <input type="Number" name="date" id="date">
  </label>
  <br>
  <label for="month"> Month
    <select name="month" id="month">
      <option value="1"> January</option>
      <option value="2">February</option>
      <option value="3"> March</option>
      <option value="4">April</option>
      <option value="5"> May</option>
      <option value="6">June</option>
      <option value="7"> July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10"> October</option>
      <option value="11">November</option>
      <option value="12"> December</option>
    </select>
  </label>
  <br>
  <label for="year"> Year
    <input type="Number" name="year" id="year">
  </label>
  <br>
  <label for="hour"> Hour (24 hour format)
    <input type="Number" name="hour" id="hour" placeholder="Example: 9, 18">
  </label>
  <br>
  <label for="minute"> Minutes
    <input type="Number" name="minute" id="minute" placeholder="Example: 24, 3">
  </label>
  <br>
  <label for="place"> Place of birth
  </label>
  <div id="map" style="width: 400px; height: 300px"></div>
  <hr>
  <h2>Profile information</h2>
  <label for="username"> Username
    <input type="text" name="username" id="username">
  </label>
  <br>
  <label for="gender"> Gender
    <select name="gender" id="gender">
      <option value="male"> Male</option>
      <option value="female">Female</option>
    </select>
  </label>
  <br>
  <label for="interest"> what are you looking for?
    <select name="interest" id="interest">
      <option value="male"> Male</option>
      <option value="female">Female</option>
    </select>
  </label>
  <br>
  <label for="plan"> Suscription plan
    <select name="plan" id="plan">
      <option value="basic"> basic</option>
      <option value="super">Super</option>
    </select>
  </label>
  <br>
  {{!-- $ npm install cloudinary multer multer-storage-cloudinary --}}
  <label for="profilePicture">Show us your best picture:</label>
  <input type="file" name="image" id="image" class="form-control-file" />
  <button type="submit">submit</button>
  <input type="text" name="latitude" id="latitude" style="display:none">
  <input type="text" name="longitude" id="longitude" style="display:none">
  <input type="text" name="lati" id="lati" style="display:none">
  <input type="text" name="longi" id="longi" style="display:none">
</form>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiaXNhZmVycmFyYSIsImEiOiJja2hjbnB5aHkwMm4yMnJycnJzNjZ6bWYwIn0.7s8wi3l0DnRJskfCjlmXOg';
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11"
  });
  const gc = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  })
  let mapi = gc.on('result', e => {
    const { result: { center } } = e
    document.querySelector('#longitude').value = center[0]
    document.querySelector('#latitude').value = center[1]
    console.log(center)
  })
  map.addControl(gc);
  // $addressInput.setAttribute('placeholder', place_name) 
  document.querySelector('button').removeAttribute('disabled')
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (position) {
      const center = [
        position.coords.longitude,
        position.coords.latitude,
      ];
      document.querySelector('#lati').value = center[1]
      document.querySelector('#longi').value = center[0]
      console.log('center: ', center)
    }, function () {
      console.log('Error in the geolocation service.');
    });
  } else {
    console.log('Browser does not support geolocation.');
  }
</script>