
<h2 style="text-align: center;margin-top:70px; font-size:4vh">Signup</h2><br>
{{!-- login local --}}
<form action="/signup" method="POST" id="form-container"  style="padding:5vh" >

<div style="margin-top: 10vh;">
<div style="margin-top: 10vh;">
      <input id="email" type="text" name="email"  class="form-control" placeholder="email">
  </div>
<br>
  <div class="form-group">
    <input id="password" type="password" name="password"  class="form-control"  placeholder="Password">
  </div>
</div>


{{!-- login social --}}
 <div class="row row-cols-2" style="display: flex; justify-content:center;" >
    <div class="border col-6" >
 <img src="/images/icon-gmail.svg" alt="icon-mail" height="15px" width="auto">
<a href="/auth/google">Google</a>
</div>

  <div class="border col-6" style="display: flex; justify-content:center;" > 
         <img src="/images/icon-apple.svg" alt="icon-face" height="15px" width="auto">
    <a href="/auth/facebook">Facebook</a>
  </div>
</div>


   {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  {{!-- button --}}
<br>
<button type="button" class="btn btn-lg btn-block" style="background-color: green; color: white">Signup</button>
<br>

  <p class="account-message">
    You already have an account?
    <a href="/login">Login</a> 
     </p>
</form>
