<h1>Dashboard</h1>
<ul>
  <li><a href="/make-a-match">Make a Match</a></li>
  <li><a href="/today">Today</a></li>
  <li><a href="/matches">Matches</a></li>
  <li><a href="update/{{_id}}"> Update profile</a></li>
  <li><a href="delete/{{_id}}"> delete profile</a></li>
</ul>