<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css" rel="stylesheet" />
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />
</head>

<body>
  <div>
  <div id="index-align">
<img src="/images/logo.svg" alt="zodiac-match">
  </div>

<div id="icon-mail">
  <img src="/images/icon-mail.svg" alt="icon-mail">
  <a href="/login">Continue with Email </a>
</div>

<div class="index-social" >
<div class="border">
 <img src="/images/icon-gmail.svg" alt="icon-mail">
<a href="">Google</a>
</div>
  <div class="border">
     <img src="/images/icon-apple.svg" alt="icon-mail">
    <a href="">Apple</a>
  </div>
</div>
<br>
<p>Not registered on ZODIAC MATCH? Sign up now! <a href="/signup"></a></p>
</div>
  <script src="/javascripts/script.js"></script>
</body>

</html>