<div>
  <div id="index-align">
    <img src="/images/logo.svg" alt="zodiac-match">
  </div>

  <div class="fixed-bottom mb-4">
    <div class="container">
      <div class="row mb-3">
        <div class="col">
          <a href="/login">
            <div class="btn btn-primary d-flex justify-content-center">
              <div>
                <img src="/images/icon-mail.svg">
              </div>
              <div class="d-flex align-items-center ml-3">
                <p class="m-0">Continue with Email</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="/auth/google">
            <div class="btn btn-outline-light d-flex justify-content-center">
              <div>
                <img src="/images/icon-gmail.svg">
              </div>
              <div class="d-flex align-items-center ml-3">
                <p class="m-0">Google</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/auth/facebook">
            <div class="btn btn-outline-light d-flex justify-content-center">
              <div>
                <img src="/images/facebook.svg">
              </div>
              <div class="d-flex align-items-center ml-3">
                <p class="m-0">Facebook</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <p>Not registered on ZODIAC MATCH? <a href="/signup">Sign up now!</a></p>
        </div>
      </div>
    </div>
  </div>

</div>